/* Media Queries */
@media (max-width: 768px) {
    #menu-toggle {
        display: block;
    }
    #nav-menu {
        display: none;
        flex-direction: column;
        gap: 1em;
        background: #333;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        padding: 1rem;
    }
    #nav-menu.open {
        display: flex;
    }
    header {
        flex-wrap: wrap;
    }
    #member-list.grid-view {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) {
    #nav-menu {
        display: flex;
    }
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
}

@media (max-width: 320px) {
    #member-list.grid-view {
        grid-template-columns: 1fr;
    }
}